SUPABASE_PROJECT_ID=coucvckvedgzbdqhysqv
SUPABASE_URL=https://coucvckvedgzbdqhysqv.supabase.co
SUPABASE_PUBLISHABLE_KEY=

VITE_SUPABASE_PROJECT_ID=coucvckvedgzbdqhysqv
VITE_SUPABASE_URL=https://coucvckvedgzbdqhysqv.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=
